@charset "UTF-8";
//☃

html,
body {
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #f8f8f8;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #222;
}
.cell {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: #{(100% / 6)};
    width: 100%;
    padding: 0 5%;
    color: #222;
    font-size: 5vh;
    line-height: 1;
    text-decoration: none;
    transition: background-color .3s;
    span {
        box-sizing: border-box;
        color: #fff;
        opacity: 0;
        transition: opacity .3s;
        transition-delay: 150ms;

        @for $i from 1 through 14 {
            $sel: if($i == 1, "+ span", nest($sel, "+ span"));

            #{$sel} {
                transition-delay: (150ms + ($i * 15));
            }
        }
    }
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        text-decoration: none;
        span {
            opacity: 1;
        }

        @each $social, $social-color in (twitter, #00aced), 
                                        (github #4183c4),
                                        (codepen, #222),
                                        (flickr, #1d6ccc),
                                        (instagram, #3f729b),
                                        (pinterest, #cb2027) {
            &.#{$social} {
                background-color: #{$social-color};
            }
        }
    }
}
